@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: custom;
  font-weight: 900;
  src: url(./assets/fonts/Chillax-Bold.otf);
}

@font-face {
  font-family: custom-thin;
  font-weight: 900;
  src: url(./assets/fonts/Chillax-Light.otf);
}

@font-face {
  font-family: kola;
  font-weight: 900;
  src: url(./assets/fonts/Kola-Regular.otf);
}

html {
  scroll-behavior: smooth;
}

.animated-element {
  animation: move-left 1.2s linear;
}

.animated-font {
  animation: show-text 1.2s linear;
}

.animate-fade {
  animation: fade 1.2s linear;
}

@keyframes show-text {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(100%, 100%);
  }
}

@keyframes fade {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(100%, 100%);
  }
}

/* translateX(-2200px) rotate(360deg) */
/* translateX(0px) rotate(0deg) */
@keyframes move-left {
  0% {
    transform: translateX(-2200px) rotate(360deg) scale(0, 0);
  }

  100% {
    transform: translateX(0px) rotate(0deg) scale(100%, 100%);
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

hr {
  border: 1px solid #FDFFC2;
}

hr.news {
  border: 1px solid pink;
}

#scrolling {
  white-space: nowrap;
  overflow-x: hidden;
  animation: scroll 4s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(350%);
  }
}

.footerlink ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.footerlink ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  /* 3px = the thickness */
  background: #ce4f20;
  /* the color */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}


.footerlink ul:hover li:before {
  scale: 1;
}

.footerlink ul li:hover:before {
  translate: 0;
  transition: 0.3s;
}

.footerlink ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.footerlink ul:hover li:hover~li:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}